force-app/main/default/flows/Get_feedback_and_vote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FeedbackInvocable</name>
        <label>FeedbackInvocable</label>
        <locationX>856</locationX>
        <locationY>168</locationY>
        <actionName>VoteFeedbackMail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Email_sent</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>trainee</name>
            <value>
                <elementReference>traineeId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Get feedback and vote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tennis Program Feedback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_feedback_and_vote</name>
        <label>Update feedback and vote</label>
        <locationX>529</locationX>
        <locationY>89</locationY>
        <connector>
            <targetReference>FeedbackInvocable</targetReference>
        </connector>
        <inputReference>traineeId</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Email_sent</name>
        <label>Email sent</label>
        <locationX>674</locationX>
        <locationY>372</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Done</name>
            <fieldText>&lt;p&gt;An email has been sent to your address with your feedback and vote.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_feedback_and_vote</name>
        <label>Insert feedback and vote</label>
        <locationX>205</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_feedback_and_vote</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>traineeId.Vote__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>traineeId.Training_program_feedback__c</objectFieldReference>
        </fields>
        <helpText>&lt;p&gt;Give us a vote on a scale from 1 to 5&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>53</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Insert_feedback_and_vote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>traineeId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Trainee__c</objectType>
    </variables>
</Flow>
