force-app/main/default/flows/Get_feedback_and_vote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FeedbackInvocable</name>
        <label>FeedbackInvocable</label>
        <locationX>411</locationX>
        <locationY>292</locationY>
        <actionName>VoteFeedbackMail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Email_sent</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>feedbackInputs</name>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>Vote1</name>
        <choiceText>One &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18.62px; font-family: Georgia, Utopia, &amp;quot;Palatino Linotype&amp;quot;, Palatino, serif; color: rgb(35, 35, 35);&quot;&gt;★☆☆☆☆&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Vote2</name>
        <choiceText>Two &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18.62px; font-family: Georgia, Utopia, &amp;quot;Palatino Linotype&amp;quot;, Palatino, serif; color: rgb(35, 35, 35);&quot;&gt;★★☆☆☆&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Vote3</name>
        <choiceText>Three &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18.62px; font-family: Georgia, Utopia, &amp;quot;Palatino Linotype&amp;quot;, Palatino, serif; color: rgb(35, 35, 35);&quot;&gt;★★★☆☆&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Vote4</name>
        <choiceText>Four &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18.62px; font-family: Georgia, Utopia, &amp;quot;Palatino Linotype&amp;quot;, Palatino, serif; color: rgb(35, 35, 35);&quot;&gt;★★★★☆&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Vote5</name>
        <choiceText>Five &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18.62px; font-family: Georgia, Utopia, &amp;quot;Palatino Linotype&amp;quot;, Palatino, serif; color: rgb(35, 35, 35);&quot;&gt;★★★★★&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Get feedback and vote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get feedback and vote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_feedback_and_vote</name>
        <label>Update feedback and vote</label>
        <locationX>121</locationX>
        <locationY>373</locationY>
        <connector>
            <targetReference>FeedbackInvocable</targetReference>
        </connector>
        <inputAssignments>
            <field>Training_program_feedback__c</field>
            <value>
                <elementReference>Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vote__c</field>
            <value>
                <elementReference>YourVote</elementReference>
            </value>
        </inputAssignments>
        <object>Trainee__c</object>
    </recordUpdates>
    <screens>
        <name>Email_sent</name>
        <label>Email sent</label>
        <locationX>674</locationX>
        <locationY>372</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Done</name>
            <fieldText>&lt;p&gt;An email has been sent to your address with your feedback and vote.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_feedback_and_vote</name>
        <label>Insert feedback and vote</label>
        <locationX>203</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_feedback_and_vote</targetReference>
        </connector>
        <fields>
            <name>YourVote</name>
            <choiceReferences>Vote1</choiceReferences>
            <choiceReferences>Vote2</choiceReferences>
            <choiceReferences>Vote3</choiceReferences>
            <choiceReferences>Vote4</choiceReferences>
            <choiceReferences>Vote5</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Feedback</name>
            <dataType>String</dataType>
            <fieldText>Feedback</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>53</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Insert_feedback_and_vote</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>PTFeedback</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Feedback</elementReference>
        </value>
    </variables>
</Flow>
