force-app/main/default/flows/Get_feedback_and_vote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FeedbackInvocable</name>
        <label>FeedbackInvocable</label>
        <locationX>338</locationX>
        <locationY>566</locationY>
        <actionName>VoteFeedbackMail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Email_sent</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>trainee</name>
            <value>
                <elementReference>traineeId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Rating_limit</name>
        <label>Rating_limit</label>
        <locationX>474</locationX>
        <locationY>428</locationY>
        <defaultConnector>
            <targetReference>Rating_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Between_1and5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>traineeId.Rating__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>traineeId.Rating__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FeedbackInvocable</targetReference>
            </connector>
            <label>Between_1and5</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get feedback and vote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tennis Program Feedback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_feedback_and_vote</name>
        <label>Update feedback and vote</label>
        <locationX>744</locationX>
        <locationY>286</locationY>
        <connector>
            <targetReference>Rating_limit</targetReference>
        </connector>
        <inputReference>traineeId</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Email_sent</name>
        <label>Email sent</label>
        <locationX>338</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Done</name>
            <fieldText>&lt;p&gt;An email has been sent to your address with your feedback and rating.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_feedback_and_vote</name>
        <label>Insert feedback and vote</label>
        <locationX>470</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_feedback_and_vote</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>traineeId.Rating__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>traineeId.Training_program_feedback__c</objectFieldReference>
        </fields>
        <helpText>&lt;p&gt;Give us a vote on a scale from 1 to 5&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rating_error</name>
        <label>Rating error</label>
        <locationX>281</locationX>
        <locationY>328</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Insert_feedback_and_vote</targetReference>
        </connector>
        <fields>
            <name>Rating</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;Give us a vote on a scale from 1 to 5&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>344</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Insert_feedback_and_vote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>traineeId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Trainee__c</objectType>
    </variables>
</Flow>
